@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0; }

::selection {
  background-color: #0c73d5;
  color: #fff; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #212121; }

.heading-primary {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 5.6rem;
  letter-spacing: 3%; }
