@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0; }

::selection {
  background-color: #0c73d5;
  color: #fff; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #212121; }

.heading-primary {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 5.6rem;
  letter-spacing: .03em; }

.text-primary {
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: .02em;
  color: #4f4f4f; }

.btn-text {
  color: #212121;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: .02em; }

.content {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 120rem;
  position: relative; }

.section-features {
  margin: 5rem 1rem 2rem 1rem; }

.btn-text, .btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s;
  padding: .5rem; }

.btn-text span {
  color: #0c73d5;
  display: inline-block;
  transition: all .3s; }

.btn-text:hover {
  color: #0c73d5;
  transform: translateY(-2px); }
  .btn-text:hover span {
    transform: scaleX(1.2);
    margin-left: .5rem; }

.feature {
  padding: 7rem 0;
  width: 100%; }
  .feature:nth-child(even) {
    background-color: rgba(17, 148, 246, 0.1); }
    .feature:nth-child(even) .content {
      flex-direction: row-reverse; }
    .feature:nth-child(even) .feature-text-box {
      margin-right: 0; }
    .feature:nth-child(even) .feature_img-box {
      margin-right: 4rem; }
  .feature .content {
    display: flex;
    justify-content: center;
    align-items: center; }
  .feature .feature_text-box {
    width: 45%;
    margin-right: 4rem; }
    .feature .feature_text-box .heading-primary {
      margin: 2rem 0 1.8rem 0; }
    .feature .feature_text-box .text-primary {
      margin-bottom: 1.8rem; }
  .feature .feature_img-box {
    width: 45%;
    height: 100%; }
    .feature .feature_img-box .feature-img {
      width: 100%;
      height: 100%;
      min-height: 24rem;
      max-height: 38rem;
      max-width: 63rem;
      border-radius: 10px;
      background-image: url(../img/feature-img-1-min.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25); }
