.hero {
    width: 100vw;
    height: 95vh;
    background-color: $color-grey;
    position: relative;

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: hidden;

        &::before {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 90% 50%;
            content: '';
            position:absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -10;

            opacity: 0;
            animation: bg-fade-in-right 0.4s ease-in forwards,  background-increase 5s linear forwards;

        }

        &:first-child::before {
            background-image: url('../img/hero-1-min.png');  
        }

        &:nth-child(2)::before {
            background-image: url('../img/hero-2-min.png');
        }
        &:nth-child(3)::before {
            background-image: url('../img/hero-3-min.png');
        }
        &:nth-child(4)::before {
            background-image: url('../img/hero-4-min.png');
        }
        &:nth-child(5)::before {
            background-image: url('../img/hero-5-min.png');
        }

        .hero-content {
            border-radius: 4px;
            background-color: rgba($color-black, 0.8);
            padding: 1.8rem 2.4rem;
            position: absolute;
            top: 40%;
            left: 10%;
            max-width: 69rem;

            opacity: 0;
        }

        &.current {
            opacity: 1;
            z-index: 10;

            .hero-content {
                // opacity: 1;
                animation: fade-in-left 0.8s 0.4s cubic-bezier(0,.39,0,1) forwards;

                .hero__text {
                    animation: fade-in-left 0.8s 0.6s cubic-bezier(0,.39,0,1) forwards;
                }

                .hero__heading {
                    animation: fade-in-left 0.8s 0.4s cubic-bezier(0,.39,0,1) forwards;
                }

                .btn-text {
                    animation: fade-in-bottom .4s 1.2s cubic-bezier(0,.39,0,1) forwards;
                }
            }
        }
                
        .btn-text {
            color: $color-white;
            opacity: 0;

            &:hover {
                color: $color-primary;
            }
        }
    }

    &__text {
        margin-bottom: 1.8rem;
        opacity: 0;
    }

    &__heading {
        margin-bottom: 2.4rem;
        opacity: 0;
    }


    &__links {
        width: 100%;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        list-style-type: none;

        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    &__link {

        overflow: hidden;
        .activity-line {
            width: 100%;
            height: 4px;
            background-color: $color-primary;
            margin-bottom: .5rem;
            opacity: 0;

        }

        a {
            text-shadow: 0 4px 10px rgba($color-grey-light, .5);
        }

        &.current {
            .activity-line {
                animation: activity-line-anim 5s linear forwards;
            }
        }
    }

    
}