// COLORS 
$color-primary: #0c73d5;
$color-primary-light: #1194f6;
$color-secondary: #D32F2F;

$color-white: #fff;
$color-black: #212121;

$color-grey: #828282;
$color-grey-dark: #4f4f4f;
$color-grey-light: #bdbdbd;