.btn-text {
    &, 
    &:link, 
    &:visited {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        transition: all .3s;
        padding: .5rem;
    }

    & span {
        color: $color-primary;
        display: inline-block;
        transition: all .3s;
    }

    &:hover {
        color: $color-primary;
        transform: translateY(-2px);
        & span {
            transform: scaleX(1.2);
            margin-left: .5rem;
        }
    }
}

// TODO need to complete the arrow btn