.feature-box {

    display: flex;
    align-items: center;
    justify-content: center;
    
    .right-block {
        padding: .5rem 1.5rem;
        max-width: 45%;
    }
    
    .left-block {
        padding: .5rem 1.5rem;
        max-width: 45%;
    }

    .feature-img {
        // background-color: $color-primary;
        background-image: url('../img/features-1-min.png');

    }
}