body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: $color-black;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: .02em;
}

.heading-primary {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 5.6rem;
    letter-spacing: .03em
}

.text-primary {
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: .02em;
    color: $color-grey-dark;
}

.hero__text {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: -0.015px;
    color: $color-white;
}

.hero__heading {
    font-weight: 600;
    font-size: 5.8rem;
    line-height: 6rem;
    color: $color-white;
    text-shadow: 0 2px 20px rgba($color-grey, 0.2);
}

.hero__link {
    a {
        color: $color-white;
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: -0.015px;
    }
}

.section-partners {
    .text-primary {
        text-align: center;
    }
}

.btn-text {
    color: $color-black;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .02em;
}

.footer-message__text {
    color: $color-grey-light;
    font-size: 2rem;
    line-height: 2.5rem;

}
.btn-submit {
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .02em;

    cursor: pointer;
}

.contact__text {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: .5px;
}

.footer__link {

    font-size: 1.6rem;
    line-height: 2rem;

}

.copyright-box {
    font-size: 1.6rem;
    line-height: 2rem;

    .copyright__icon {
        font-size: 2rem;
    }
}